<div class="item">
  <li id="item_<%= item.id %>" class="item-name"><%= item.name %></li>
  <li class="item-price"><%= item.price %></li>
  <br/>
  <div class="item-line-seperator"></div>
  <li class="item-description"><%= item.description %></li>
  <% if current_user %>
      <li>
        <%= link_to item, method: :delete do %>
          <div class="delete-item">
            <i class="fa fa-trash-o"></i>
          </div>
        <% end %>
      </li>
      <li>
        <%= render :partial => 'partials/item_modals/edit_item_modal', :locals => {:@itemEdit => item} %>
      </li>
      <br></br>
  <% end %>
</div>