<%= javascript_tag do %>
  var sections = <%= @user.sections.to_json.html_safe %>;
<% end %>

<div class="section">
  <ul id="section-<%=section.id%>">
    <li class="section-name">
      <%= section.name %>
    </li>
    <% if current_user == @user && current_user != nil %>
      <li>
        <%= link_to section, remote: true, method: :delete do %>
          <div class="delete-section">
            <i class="fa fa-trash-o"></i>
          </div>
        <% end %>
      </li>
      <li>
        <%= render :partial => 'partials/section_modals/edit_section_modal', :locals => {:@sectionEdit => section} %>
      </li>
      <li>
        <%= render :partial => 'partials/item_modals/new_item_modal', :locals =>{:@itemNew => current_user.items.build, :section => section} %>
      </li>
    <% end %>
  </ul>
</div>