<% provide :title, "Store Directory" %>
<div class="directory-title">
  <h1>Store Directory</h1>
</div>
<div class="store-search">
  <%= render 'users/search' %>
</div>
<br class="clearfix">
<div class="page-container">
  <div class="restaurant-list">
    <ul>
      <% @users.each do |user| %>
        <%= link_to user_path(user.user_name) do %>
          <li>
            <div class="restaurant-image">
              <%= image_tag user.restaurant.restaurant_picture.small_pic %>
            </div>
            <div class="restaurant-name">
              <%= user.restaurant.name %>
            </div>
            <div class="restaurant-address">
              <%= user.restaurant.street_number %>
              <%= user.restaurant.street_name %>
              <br>
              <%= user.restaurant.city %>
              <%= user.restaurant.zip_code %>
            </div>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
  
  <div class="pagination">
  <%= will_paginate @users %>
  </div>
</div>