<% provide(:title, @restaurant.name) %>
<div class="store-header">
  <div class="upper-half">
    <h1 class="store-name"><%= @restaurant.name %></h1>
  </div>
  <div class="halves-break halves-break-expand"></div>
  <div class="lower-half">
    <div class="store-pic-row">
      <div class="store-profile-pic-column">
        <div class="profile-pic" style="background-image: url(<%= @restaurant.restaurant_picture.medium_pic %>); ">
        </div>
      </div>
    </div>
    <div class="store-info-row">
      <div class="store-address-column">
        <h2 class="store-address">
        <%= @restaurant.street_number.to_s + " " + @restaurant.street_name%><br/>
        <%= @restaurant.city %><br/>
        <%= @restaurant.state + " " + @restaurant.zip_code.to_s %><br/>
        <%= number_to_phone(@restaurant.phone_number) %>
        </h2>
      </div>
      <div class="store-description-column">
        <div class="description">
        <% unless @restaurant.description.empty? %>
          <%= @restaurant.description %>
        <% else %>
          <div class="placeholder">
            <%= link_to "Fill in your personal introduction here",edit_restaurant_path(current_user) %>
          </div>
        <% end %>
        </div>
      </div>
      <div class="schedule-column">
        <%= render 'schedules/schedule' %>
      </div>
    </div>
  </div>
</div>
<div class="page-container">
  <div class="menu-and-gallery-row">
    <div class="menu-column">
      <div class="menu-create-buttons">
        <% if current_user == @user && current_user!= nil %>
        <%= render :partial => 'partials/section_modals/new_section_modal', :locals => {:@sectionNew => current_user.sections.build} %>
        <% end %>
      </div>
      <section class="menu">
        <div class="sections-list">
          <% @sections.each do |section| %>
          <div id="<%= section.id%>-section-and-items" class="section_and_items">
            <%= render :partial => 'users/section', :locals => {:section => section} %>
            <div id="<%= section.id%>-item-list">
              <ul class="items">
                <% @items.each do |item| %>
                <%= render :partial => 'users/item', :locals => {:item => item, :section =>section} %>
                <% end %>
              </ul>
            </div>
          </div>
          <% end %>
        </div>
      </section>
    </div>
    <section class="gallery-column">
      <%= render :partial => 'items/gallery' %>
    </section>
  </div>
</div>