<div class="page-container">
  <div class="menu-layout">
    <div class="create-buttons">
      <% if current_user %>
        <%= render :partial => 'partials/section_modals/new_section_modal', :locals => {:@sectionNew => current_user.sections.build} %>
        <%= render :partial => 'partials/item_modals/new_item_modal', :locals =>{:@itemNew => current_user.items.build} %>
      <% end %>
    </div>
    <section class="menu">
      <div class="sections-list">
        <% @sections.each do |section| %>
          <%= render :partial => 'users/section', :locals => {:section => section} %>
          <div id="<%= section.name%>-item-list">
            <ul class="items">
              <% @items.each do |item| %>
                <%= render :partial => 'users/item', :locals => {:item => item, :section =>section} %>
              <% end %>
            </ul>
          </div>          
        <% end %>
      </div>
    </section>
  </div>
</div>
