<div id="login-modal" class="modal">
  <div class="modal-trigger">
    <div class="registration-button login-button">
      <label for="modal-2">
        Log In
      </label>
    </div>
  </div>
  <input class="modal-state" id="modal-2" type="checkbox" />
  <div class="modal-fade-screen">
    <div class="modal-inner">
      <div class="modal-close" for="modal-2"></div>
      <fieldset class="form-fields-container">
      <legend>Log in</legend>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>
      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>
      <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
      <% end -%>
      <div class="actions">
        <%= f.submit "Log in" %>
      </div>
      <% end %>
      </fieldset>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>