<div class="schedule-form">
<%= form_for(@schedule) do |f| %>
<table>
  <tr>
    <th>Day</th>
    <th>Opens</th>
    <th>Closes</th>
  </tr>
  <tr>
    <td><%= f.label :sunday %></td>
    <td><%= f.time_field :sunStart, :value => time_format(f.object.sunStart), :placeholder => "00:00 am" %></td>
    <td><%= f.time_field :sunEnd, :value => time_format(f.object.sunStart), :placeholder => "00:00 am" %></td>
  </tr>
  <tr>
    <td><%= f.label :monday %></td>
    <td><%= f.time_field :monStart, :value => time_format(f.object.monStart), :placeholder => "00:00 am" %></td>
    <td><%= f.time_field :monEnd, :value => time_format(f.object.monStart), :placeholder => "00:00 am" %></td>
  </tr>
  <tr>
    <td><%= f.label :tuesday %></td>
    <td><%= f.time_field :tueStart, :value => time_format(f.object.tueStart), :placeholder => "00:00 am" %></td>
    <td><%= f.time_field :tueEnd, :value => time_format(f.object.tueStart), :placeholder => "00:00 am" %></td>
  </tr>
  <tr>
    <td><%= f.label :wednesday %></td>
    <td><%= f.time_field :wedStart, :value => time_format(f.object.wedStart), :placeholder => "00:00 am" %></td>
    <td><%= f.time_field :wedEnd, :value => time_format(f.object.wedStart), :placeholder => "00:00 am" %></td>
  </tr>
  <tr>
    <td><%= f.label :thurday %></td>
    <td><%= f.time_field :thuStart, :value => time_format(f.object.thuStart), :placeholder => "00:00 am" %></td>
    <td><%= f.time_field :thuEnd, :value => time_format(f.object.thuStart), :placeholder => "00:00 am" %></td>
  </tr>
  <tr>
    <td><%= f.label :friday %></td>
    <td><%= f.time_field :friStart, :value => time_format(f.object.friStart), :placeholder => "00:00 am" %></td>
    <td><%= f.time_field :friEnd, :value => time_format(f.object.friStart), :placeholder => "00:00 am" %></td>
  </tr>
  <tr>
    <td><%= f.label :saturday %></td>
    <td><%= f.time_field :satStart, :value => time_format(f.object.satStart), :placeholder => "00:00 am" %></td>
    <td><%= f.time_field :satEnd, :value => time_format(f.object.satStart), :placeholder => "00:00 am" %></td>
  </tr>
</table>
<%= f.submit "Update Schedule" , data: {disable_with: "Updating..."} %>
<% end %>
</div>