<table class="schedule">
  <col class="column1">
  <col class="column2">
  <th colspan="2">Hours</th>
  <tr>
    <td>S</td>
    <td>
      <% if @schedule.sunStart.nil? || @schedule.sunEnd.nil? %>
      Closed
      <% else %>
      <%= openOrClosed(@schedule.sunStart.to_s(:time),@schedule.sunEnd.to_s(:time)) %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>M</td>
    <td>
      <% if @schedule.monStart.nil? || @schedule.monEnd.nil? %>
      Closed
      <% else %>
      <%= openOrClosed(@schedule.monStart.to_s(:time),@schedule.monEnd.to_s(:time)) %>
      <% end %>
    </td>
  </tr> 
  <tr>
    <td>T</td>
    <td>
      <% if @schedule.tueStart.nil? || @schedule.tueEnd.nil? %>
      Closed
      <% else %>
      <%= openOrClosed(@schedule.tueStart.to_s(:time),@schedule.tueEnd.to_s(:time)) %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>W</td>
    <td>
      <% if @schedule.wedStart.nil? || @schedule.wedEnd.nil? %>
      Closed
      <% else %>
      <%= openOrClosed(@schedule.wedStart.to_s(:time),@schedule.wedEnd.to_s(:time)) %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>T</td>
    <td>
      <% if @schedule.thuStart.nil? || @schedule.thuEnd.nil? %>
      Closed
      <% else %>
      <%= openOrClosed(@schedule.thuStart.to_s(:time),@schedule.thuEnd.to_s(:time)) %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>F</td>
    <td>
      <% if @schedule.friStart.nil? || @schedule.friEnd.nil? %>
      Closed
      <% else %>
      <%= openOrClosed(@schedule.friStart.to_s(:time),@schedule.friEnd.to_s(:time)) %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>S</td>
    <td>
      <% if @schedule.satStart.nil? || @schedule.satEnd.nil? %>
      Closed
      <% else %>
      <%= openOrClosed(@schedule.satStart.to_s(:time),@schedule.satEnd.to_s(:time)) %>
      <% end %>
    </td>
  </tr>
</table>