<div class="modal menu-buttons">
  <label for="edit-section-modal_<%=@sectionEdit.id%>">
    <div class="modal-trigger edit-section"><i class="fa fa-pencil"></i></div>
  </label>
  <input class="modal-state" id="edit-section-modal_<%=@sectionEdit.id%>" type="checkbox" />
  <div class="modal-fade-screen">
    <div class="modal-inner">
      <div class="modal-close" for="edit-section-modal_<%=@sectionEdit.id%>"></div>
      <h1>Edit Section</h1>
      <%= form_for(@sectionEdit, :method => :put, remote:true) do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name %>
        <%= f.submit "Save Changes" %>
      <% end %>
    </div>
  </div>
</div>
