<div class="store-contact-container">
  <% unless @restaurant.email.empty? && @restaurant.instagram.empty? && @restaurant.facebook.empty? && @restaurant.twitter.empty? %>
  <div class="contact-links">
    <% unless @restaurant.email.empty? %>
      <%= mail_to "http://www." + @restaurant.email do %>
        <div class="contact-link">
          <i class="fa fa-envelope-o"></i>
        </div>
      <% end %>
    <% end %>
    <% unless @restaurant.facebook.empty? %>
      <%= link_to "http://www." + @restaurant.facebook do %>
        <div class="contact-link">
          <i class="fa fa-facebook"></i>
        </div>
      <% end %>
    <% end %>
    <% unless @restaurant.instagram.empty? %>
      <%= link_to "http://www."+ @restaurant.instagram do %>
        <div class="contact-link">
          <i class="fa fa-instagram"></i>
        </div>
      <% end %>
    <% end %>
    <% unless @restaurant.twitter.empty? %>
      <%= link_to "http://www."+ @restaurant.twitter do %>
        <div class="contact-link">
          <i class="fa fa-twitter"></i>
        </div>
      <% end %>
    <% end %>
  </div>
  <% else %>
  <% if current_user == @restaurant.user %>
  <%= link_to edit_restaurant_path(current_user)+"#ContactFields" do  %>
  <div class="placeholder">(Enter your Social Media Info)</div>
  <% end %>
  <% end %>
  <% end %>
</div>