<div class="restaurant-name">
  <%= @user.restaurant.name %>
</div>
<div class="restaurant-category">
  <%= @user.restaurant.category %>
</div>
<div class="restaurant-address">
  <%= @user.restaurant.street_number %> <%= @user.restaurant.street_name %>,
  <%= @user.restaurant.state %>
  <%= @user.restaurant.zip_code %>
</div>



