<div class="modal menu-buttons">
  <label for="edit_item_modal_<%=@itemEdit.id%>">
    <div class="modal-trigger edit-item action-button" onclick = 'initializeEditItemButton(<%= @itemEdit.to_json %>)'><i class="fa fa-pencil"></i></div>
  </label>
  <input class="modal-state" id="edit_item_modal_<%=@itemEdit.id%>" type="checkbox" />
  <div class="modal-fade-screen">
    <div class="modal-inner">
      <div class="modal-close" for="edit_item_modal_<%=@itemEdit.id%>"></div>
      <fieldset class="form-fields-container">
      <legend>Edit Item</legend>
      <%= form_for(@itemEdit, :method => :put, remote:true) do |f| %>
        <%= f.label :name, 'Item Name' %>
        <%= f.text_field :name, class: "item_#{@itemEdit.id}_name required-field", :onkeyup => "editItemTextCheck(#{@itemEdit.to_json})"  %>

        <%= f.label :section_id, 'Menu Section' %>
        <%= f.collection_select :section_id, current_user.sections.all, :id, :name,{},{:class =>"item_#{@itemEdit.id}_dropdown", :onchange => "editItemTextCheck(#{@itemEdit.to_json})"} %>

        <%= f.label :price, 'Price' %>
        <%= f.number_field :price, :step => 'any', :placeholder =>'5.00', class: "item_#{@itemEdit.id}_price required-field", :onkeyup => "editItemTextCheck(#{@itemEdit.to_json})" %>

        <%= f.label :description, 'Description' %>
        <%= f.text_field :description, class: "item_#{@itemEdit.id}_description required-field", :onkeyup => "editItemTextCheck(#{@itemEdit.to_json})" %>

        <%= f.label :ingredients, 'Ingredients' %>
        <%= f.text_field :ingredients, class: "item_#{@itemEdit.id}_ingredients", :placeholder =>'Chicken, Whole Wheat Bun, Mayo', :onkeyup => "editItemTextCheck(#{@itemEdit.to_json})"  %>

        <div class="field">
          <%= f.label :item_picture, "Item Picture" %>
          <%= f.file_field :item_picture,  class: "item_#{@itemEdit.id}_picture", :onchange => "editItemTextCheck(#{@itemEdit.to_json})"  %>
        </div>

        <%= f.submit "Save Changes" , data: {disable_with: "Saving..."}, :class => "edit-item-#{@itemEdit.id}-button" %>      
        <% end %>
        </fieldset>
    </div>
  </div>
</div>
