<header>
  <div class="brand">
    <%= link_to root_path do %>
    <span class = "brand-half-1">simply</span><span class = "brand-half-2">Eat</span>
    <% end %>
  </div>
  <button class="hamburger hamburger-x">
  <span></span>
  </button>
  <nav class="nav-menu nav-menu-vertical nav-menu-left">
    <ul class="upper-nav">
      <h3>
        <span class = "brand-half-1">simply</span><span class = "brand-half-2">Eat</span>
      </h3>
      <% if user_signed_in? %>
        <% @restaurant = Restaurant.find_by(user_id: current_user.id) %>
        <% @schedule = Schedule.find_by(user_id: current_user.id) %>
        <% unless @schedule.nil? %>
          <li>
            <%= link_to "Design", user_path(current_user.user_name) %>
          </li>
        <% end %>
        <% unless @restaurant.nil? %>
          <li>
            <%= link_to "Schedule", chooseSchedulePath() %>
          </li>
        <% end %>
        <li><%= link_to "Store Info", chooseRestaurantPath(@restaurant) %></li>
        <% end %>
        <li><%= link_to "Directory", shops_path %></li>
        <% if user_signed_in? %>
        <li><a href="#" class="username"><%= current_user.user_name %></a>
          <ul class="lower-nav">
            <li>
              <%= link_to "Account", edit_user_registration_path(current_user) %>
            </li>
            <li>
              <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
            </li>
          </ul>
        </li>
      <% end %>
    </ul>
  </nav>
  <br class="clearfix">
</header>