<header>
<section class="navigation">
    <div class="nav-container">
      <div class="brand">
        <%= link_to "Menu Factory", root_path %>
      </div>
      <nav>
        <div class="nav-mobile">
          <a href="#!" id="nav-toggle"><span></span></a>
        </div>
        <ul class="nav-list">
          <% unless user_signed_in? %>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "How it works", '#' %></li>
          <li><%= link_to "Directory", users_path %></li>
          <% else %>
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Directory", directory_path %></li>
            <li><%= link_to "Design Menu", current_user %></li>
            <li><%= link_to "Store Info", '#' %></li>
            <li>
              <%= link_to "Account Settings", edit_user_registration_path %>
            </li>
            <li>
              <%= link_to("Log Out", destroy_user_session_path, :method => :delete) %>
            </li> 
          <% end %>
        </ul>
      </nav>
    </div>
  </section>
</header>