<!DOCTYPE html>
<html>
  <head>
    <title><%= setTitle(yield(:title)) %></title>
    <%= favicon_link_tag 'logo.png' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= yield :head %>
  </head>
  <body>
    <%= render 'partials/messages' %>
    <%= render 'layouts/header' %>
    <%= devise_error_messages! %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
